<div *ngIf="!loaded">
  <app-loader></app-loader>
</div>
<form *ngIf="loaded" [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <h2>Modifica album: {{album.name}}</h2>
  <div [className]="'form-group'">
    <label>Nome: </label>
    <input class="form-control" type="text" formControlName="name" [(ngModel)]="album.name" placeHolder="Album name">
    <span *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">
      Il campo nome è obbligatorio.
    </span>
  </div>
  <div [className]="'form-group'">
    <label>Anno: </label>
    <input class="form-control" type="text" formControlName="year" [(ngModel)]="album.year" placeHolder="Anno uscita">
    <span *ngIf="(year.dirty || year.touched) && year.invalid && year.errors.required">
      Il campo anno è obbligatorio.
    </span>
  </div>
  <div [className]="'form-group'">
    <label>Artisti: </label>
    <select multiple class="form-control" formControlName="artists">
      <option *ngFor="let artist of artists" [ngValue]="artist">{{artist.name}}</option>
    </select>
    <span *ngIf="(artistsElement.dirty || artistsElement.touched) && artistsElement.invalid && artistsElement.errors.required">
      E' obbigatorio selezionare almeno un'artista.
    </span>
  </div>
  <div [className]="'form-group'">
    <label>Generi: </label>
    <select multiple class="form-control" formControlName="genres">
      <option *ngFor="let genre of genres" [ngValue]="artist">{{genre.code}} - {{genre.name}}</option>
    </select>
    <span *ngIf="(genresElement.dirty || genresElement.touched) && genresElement.invalid && genresElement.errors.required">
      E' obbigatorio selezionare almeno un genere.
    </span>
  </div>
  <div [className]="'form-group'">
    <label>Tipo:</label>
    <select class="custom-select" formControlName="type">
      <option value="" disabled>Scegli tipo</option>
      <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
    </select>
    <span *ngIf="(typeElement.dirty || typeElement.touched) && typeElement.invalid && typeElement.errors.required">
      E' obbigatorio selezionare un tipo.
    </span>
  </div>
  <div [className]="'form-group'">
    <label>Supporto:</label>
    <select class="custom-select" formControlName="support">
      <option value="" disabled>Scegli supporto</option>
      <option *ngFor="let support of supports" [ngValue]="support">{{support.name}}</option>
    </select>
    <span *ngIf="(supportElement.dirty || supportElement.touched) &&  supportElement.invalid && supportElement.errors.required">
      E' obbigatorio selezionare un supporto.
    </span>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Salva</button>&nbsp;
  <button type="button" class="btn btn-secondary btn-lg" (click)="onClickCancel()">Annulla</button>
</form>
