<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of pageAlbum.data">
      <th scope="row">1</th>
      <td>{{album.name}}</td>
      <td>
        <span *ngFor="let author of album.artists">{{author.name}}</span>
      </td>
      <td>
        <a [routerLink]="['/albums/', album.id]"></a>Edit
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
