<div *ngIf="!loaded" class="content">
  <app-loader></app-loader>
</div>
<div *ngIf="loaded" class="content">
  <div class="header content">
    <div style="float:left;">
      <h2>Album</h2>
    </div>
    <button style="float: right;" type="button" class="btn btn-primary btn-lg" [routerLink]="['/albums/create']" >Aggiungi Album</button>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Artista</th>
        <th scope="col">Genere</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of pageAlbum.data; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{album.name}}</td>
        <td>
          <span *ngFor="let author of album.artists">{{author.name}}</span>
        </td>
        <td>
          <span *ngFor="let genre of album.generes">{{genre.name}}</span>
        </td>
        <td>
          <a [routerLink]="['/albums/', album.id]">Modifica</a>&nbsp;
          <a (click)="onDelete(album)" href="javascript:void(0)">Cancella</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
